*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #341346;
    padding:20px;
    
}

ul a{
    color: #87C1C6;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

ul{
    display: flex;
    gap: 60px;
}

nav a:hover{
    color:#CBCBCB;
}

.active{
    color: #CBCBCB;
    
}