:root {
    --background: #9d1561;
    --rosa: #9d1561;
    --bg-violeta: #350e45;
    --celeste: #75BFC8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}


@font-face {
    font-family: "Casadio";
    src: url("/assets/fonts/hadfield_strip.otf");
}

/* >>>> NAVBAR <<<< */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-violeta);
    padding: 20px;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 2;
}

#toggle-menu {
    display: none;
}

.menu-label {
    display: none;
}

.navbar ul a {
    color: var(--celeste);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navbar ul {
    display: flex;
    gap: 60px;
}

.navbar a:hover {
    color: #CBCBCB;
}

.active{
    color: #CBCBCB !important;
}


/* >>>> MAIN <<<< */
main {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* >>>> HERO <<<< */
#hero {
    display: flex;
    margin: 0px 150px 60px 150px;
    padding: 0px 0px 0px 40px;
    align-items: center;
    background-color: #BCBCBC;
    max-width: 1200px;
    margin-top: 120px;
    box-shadow: 10px 10px 30px black;
    border-radius: 0 0 5px 5px;
    height: 650px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-info h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    padding-bottom: 50px;
    font-family: 'Casadio', sans-serif;
    font-weight: 200;
    font-size: 80px;
    color: var(--rosa);
}

.hero-info p {
    display: flex;
    text-align: end;
    color: black;
    font-size: 25px;
    font-style: italic;
    padding-bottom: 50px;
    padding-left: 40px;
    line-height: 45px;
}

.hero-btn {
    display: flex;
    gap: 90px;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 40px;
}

.hero-btn a {
    display: flex;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    color: var(--bg-violeta);
    font-weight: 600;
    justify-content: center;
    min-width: 160px;
}

.hero-btn a:nth-child(2) {
    background-color: var(--bg-violeta);
    color: white;
    font-weight: bolder;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.hero-img img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-image-width: cover;
    height: 650px;
}

.img-1vino {
    display: none !important;
}

.img-vino-chico {
    display: none !important;
}


/* >>>> ABOUT <<<< */
#about {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.forma-izq {
    position: absolute;
    left: 0px;
    width: 20%;
    top: 815px;
}

.forma-der {
    position: absolute;
    right: 0px;
    width: 20%;
    top: 815px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-info h1 {
    display: flex;
    color: var(--celeste);
    font-size: 160px;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    color: var(--bg-violeta);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-info h2 {
    display: flex;
    color: var(--celeste);
    font-size: 55px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 80px;
}

.about-info h3 {
    display: flex;
    color: var(--celeste);
    font-size: 35px;
    font-style: italic;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-info p {
    display: flex;
    color: white;
    font-weight: 400;
    padding-top: 30px;
    font-size: 22px;
    max-width: 70%;
    text-align: center;
    line-height: 30px;
}


/* >>>> CARDS <<<< */
#servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 1800px;
    margin: 100px 50px 80px 50px;
    background-color: #BAA238;
    border-radius: 5px;
}

.servicios-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.servicios-cards p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
}

.card-bodega,
.card-degustacion,
.card-envio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    width: 28%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.199);
}

#servicios h2 {
    display: flex;
    color: var(--bg-violeta);
    font-size: 45px;
    font-weight: 200;
}

#servicios h3 {
    display: flex;
    color: var(--bg-violeta);
    font-size: 30px;
    font-weight: 100;
}


/* >>>> CONTACTO <<<< */
#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin: 0px 50px 80px 50px;
    background: linear-gradient(to bottom, var(--background), var(--bg-violeta));
    border-radius: 5px;
    max-width: 1200px;
    box-shadow:10px 10px 30px black;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px
}

.contacto-dir,
.contacto-tel,
.contacto-mail,
.contacto-wap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 20px;
}

.contacto img {
    width: 20%;
}

.contacto-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-img img {
    border-radius: 5px;
}

.contacto h2 {
    color: white;
    width: 100%;
}


 /* >>>> FOOTER <<<< */
#footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-violeta);
    padding: 30px 30px 20px 30px;
    height: 200px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 33%;
    flex-wrap: wrap;
}

.redes img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.logo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--celeste);
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.diseño {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 33%;
}

.diseño p {
    color: white;
    font-size: 17px;
    text-align: center;
}